---
# Sequence of update tasks for Debian and derivate OSes
- name: Update tasks
  become: true
  block:
    - name: Ensure Apt Cache is up-to-date
      ansible.builtin.apt:
        update_cache: true
      changed_when: false

    - name: Ensure all packages are updated to the latest version using full-upgrade # noqa: package-latest
      ansible.builtin.apt:
        name: '*'
        state: latest
        upgrade: 'full'
      register: updates
      notify: Check reboot debian

    - name: Ensure Autoremove runs when suggested by apt upgrade
      ansible.builtin.apt:
        autoremove: true
      when: '"Use ''sudo apt autoremove'' to remove it" in updates.stdout'
